@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');




#back {
    background-image: url(/rwd/img/triangle_bg.png);
    background-repeat: repeat-y;

}




.navbar {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    display: flex;
}


.navbar a {
    color: black;
    text-decoration: none;
    
}

.navbar nav {
    display: flex;
    width: 100%;
}   

.navbar figcaption {
    width: 100%;
    position: flex;
    
}

.navbar img {
    width: 100%;
    height: 100%;
}



.responsive {

    background-color: black;
    display: flex;
    width: 100%;
    height: 100%;
}


hr {
    display: absolute;
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 5px solid red;
    margin: 0;
    padding: 0;
}


/* Phones */
@media all and (max-width: 1000px){
    .navbar  {
        
        justify-content: center;
        flex-wrap: wrap;
        color: #bada55 ;
       
       
    }
    .navbar nav {
        text-align: center;
        flex-flow: column;
        margin-bottom: 1em;
    }
    .navbar nav a {
        margin: 0.6em;
    }
    #education-anchor {
       position: relative;
       left: 22px;
       top: -25px;
    } 
    .responsive {
        background-color:rgb(99, 109, 129);
        min-height: 300px;
        padding-top: 5em;
        padding-bottom: 5em;
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
       

        font-family: 'Be Vietnam Pro', sans-serif;
      
    }
    .responsive header {
        font-size: 2.6em;

    }
    .responsive_wrapped {
        display: flexbox;
        flex-flow: column;
        margin-top: 10%;
        margin-bottom: 0%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .responsive_wrapped hr {
        border-color: thistle;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .responsive_wrapped figure {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 3%;
    }
    .responsive_wrapped img {
        position: relative;
        width: 25%;
        height: 45%;
        left: -6%;
        
    }
    .responsive_wrapped article {
        font-weight:400;
        font-size: 2em;
        margin-bottom: 4%;
    }
    .responsive_wrapped button {
        position: relative;
        border: 1px solid;
        border-color: black;
        background-color: rgb(99, 109, 129) ;
        border-radius: 12px;
        height: 12%;
        width: 50%;
        left: 25%;
        margin-bottom: 22%;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight:600;
        font-size: large;
    }

}


/* Desktops */
@media all and (min-width: 1100px) {
    .navbar {
        /* flex-direction: row; */
        background-color: yellow;
    }
    #education-anchor {
        position: absolute;
        top: -22px;
     } 
}


